@import 'reused';
.overlay,
.header .btn { display: none; }

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 20px;
  z-index: 4;
}

.header.active {
  position: fixed;
  background-color: $--white;
  box-shadow: $--shadow-2;
  animation: slideIn 0.5s ease forwards;
}

@keyframes slideIn {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(0); }
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.header-action { margin-inline-start: auto; }

.cart-btn {
  padding: 12px;
  color: $--red;
}

.cart-btn { font-size: 1.8rem; }
  


.navbar {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  background-color: $--white;
  padding: 50px 40px;
  visibility: hidden;
  transition: 0.35s $--cubic-out;
  z-index: 2;
}

.navbar.active {
  transform: translateX(100%);
  visibility: visible;
  transition-duration: 0.5s;
}

.navbar .logo { margin-block-end: 30px; }

#titlelogo {
  font-size: 30px;
  font-weight: bold;
  color:hsl(0, 0%, 0%);
}

#footerlogo {
  font-size: 30px;
  font-weight: bold;
  color:hsl(0, 0%, 100%);
}

.navbar-item { border-block-end: 1px solid $--light-gray; }

.navbar-link {
  color: $--eerie-black;
  padding-block: 12px;
}

.navbar-link:is(:hover, :focus-visible) { color: $--jet; }

