.messageTemp {
    margin-bottom: 16px;   
}

.username {
    font-weight: 600;
    margin-right: 8px;
    font-weight: bold;
    padding-left: 10px;
}

.mdate {
    color: #777;
}


a {
    color: #0070CC;
}

.mtext
{
    padding-left: 10px;
}